<div id="hm1" style="display: inline-block;"></div>
<div id="hm2" style="display: inline-block;"></div>

<script>
    utils.seed(1);
    const environment = new Environment();
    const heatmap1 = new Heatmap(environment, {
        x: 'a',
        y: 'b'
    });

    for (let i = 0; i < 200; i++) {
        environment.addAgent(new Agent({
            a: utils.uniform(),
            b: utils.uniform()
        }));
    }

    heatmap1.mount('#hm1');

    const heatmap2 = new Heatmap(environment, {
        x: {
            key: 'a',
            buckets: 5,
            min: 0.5,
            max: 1
        },
        y: {
            key: 'b',
            max: 0.75,
            buckets: 6
        }
    });

    heatmap2.mount('#hm2');

    environment.tick();
</script>