<style>
  table,
  td {
    border: 1px solid black;
  }
</style>

<div id="table"></div>

<script>
  const environment = new Environment();

  const renderer = new TableRenderer(environment, {
    limit: 10,
    order: "asc",
    precision: 5,
    sortKey: "x"
  });
  renderer.columns = ["i", "x"];
  renderer.mount("#table");

  function tick(agent) {
    let { x } = agent.getData();
    x += utils.random(0, 10, true);
    if (x > 10) x -= 10;
    return { x };
  }

  (function setup() {
    for (let i = 0; i < 25; i++) {
      const a = new Agent({
        i,
        x: (i * 81) % 7
      });
      a.addRule(tick);
      environment.addAgent(a);
    }
  })();

  (function run() {
    environment.tick();
    window.requestAnimationFrame(run);
  })();
</script>
